@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(26, 25, 20, 0.05) rgba(255, 255, 255, 0.01);
}

.custom_class {
  width: 5px;
  height: 5px;
  background-color: #1fa45b;
  border-radius: 100%;
  position: absolute;
  left: -11.5px;
  top: 3px;
}
@media (max-width:380px) {
  .hide__scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
